<h1>Listing rejections</h1>

<table>
  <tr>
    <th>Totalrejected</th>
    <th>Session</th>
  </tr>

<% @rejections.each do |rejection| %>
  <tr>
    <td><%=h rejection.totalRejected %></td>
    <td><%= link_to rejection.session.start, rejection.session %></td>
    <td><%= link_to 'Destroy', rejections_path, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
