<h1><%= t '.header' %></h1>

<%= render :partial => 'list' %>

<%= link_to t('.new'), new_machine_path %>

<% unless @machines.empty? %>
<p>
  <%= link_to t('excel_format'), machines_path(:format => :xls) %>
</p>
<% end %>

