<h1><%= t '.header' %></h1>

<%= render :partial => 'list' %>

<%= link_to t('.new'), new_machine_path %>

<hr />

<p>
  <%= link_to_unless @machines.empty?, t('excel_format'), machines_path(:format => :xls) %>
</p>

